@model List<AdoptList>



    
@{
   
    foreach (AdoptList a in Model)
    {
        <form asp-method="post" asp-action="AdoptAnimal">
        <div style="text-center">
        <p> Name: @a.Name </p>
        <p> Description: @a.Description </p>
        <p> Age: @a.Age  </p>
        <input type="submit"/>
        <p> <img height="300px" src="@a.Img" /> </p>
        </div>
        <br />
        <br />
        </form>
    }

}
      @*  <input type="submit" value="submit" />
        <a class="nav-link text-dark p-0" asp-action="AdoptAnimal" asp-route-id="@a">ADOPTME!</a>
        <input type ="hidden" value="@a.Name"/>*@




